// COLOR
$white: #fff;
$black: #000;
$gray: #415972;
$yellow: #fcd408;
$indigo: #052749;
$red: #d0021b;
$green: #00ba18;

// PANEL
$panel_bg_color: $indigo;
$panel_height: 90px;

// BUTTON
$btn-color: $indigo;

// CONTENT
$content-width-max: 1280px;