.btn {
    $_: '.btn';
    @media (max-width: 1350px) {
        &--menu {
            display: block;
            margin-left: 106px;
        }
        &--online,
        &--rules {
            display: none;
        }
    }
    
    @media (max-width: 860px) {
        &--menu {
            margin-left: 0;
        }
        &--close {
            top: 15px;
            right: 15px;
        }
    }
    
}