.img {
    $_: '.img';
    &--logo {
        margin-right: 53px;
    }
    &--slogan {
        display: block;
        margin-left: 81px;
    }

    @media (max-width: 1350px) {
        &--logo {
            margin: 0;
        }
        &--slogan {
            display: none;
        }
    } 
}

